Options +FollowSymlinks
Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} /lectern [NC]
RewriteCond %{REQUEST_URI} !\.(bmp|css|gif|ico|jpg|jpeg|js|png|shtml|zip|mp3|mpeg|wav|pdf|xml|txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ sys/src/lectern/index.php?p=$1 [NC,QSA]

RewriteCond %{REQUEST_URI} !\.(bmp|css|gif|ico|jpg|jpeg|js|png|shtml|zip|mp3|mpeg|wav|pdf|xml|txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/lectern [NC]

RewriteRule ^(.*)$ sys/src/cabinet/index.php?p=$1 [NC,QSA]