.mdBacker {
  min-height: 100vh;

  &.lectern {
    display: flex;
    flex-direction: column;

    padding: $m-md $m-lg;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $m-xs;

      h1#name {
        @extend .h5;
        @extend .bold;
        @extend .c-primary;
      }
      #module {
        @extend .h5;
        @extend .light;
        @extend .c-grey;
      }
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $m-sm;
      flex-grow: 1;

      margin-top: $m-md;

      nav#main {
        width: 170px;

        .accordion {
          .section {
            > .label {
              position: relative;
              @extend .h5;
              @extend .light; 
              @extend .c-secondary;
              margin-bottom: $m-xxs;

              &:before {
                position: absolute;
                left: -$m-xxs;
                content: '/';
                @extend .h5;
                @extend .light; 
                @extend .c-dim;
              }
            }

            > ul.content {
              
              li, ul { padding-top: $m-xxs/3; }
              li {
                &::marker {
                  content: '>';
                  color: $c-secondary-light;
                }
                padding-left: $m-xxs/2;
                
                button {
                  font-family: 'Sharp Grotesk';
                  font-size: 0.9em;
                  line-height: 1.2em;
                  background-color: transparent;
                  &.curr { @extend .bold; }
                }
              }
              ul { margin-left: $m-xxs; }

              * {
                list-style-type: none;
                list-style-position: outside;
              }
            }
          }
        }
      }

      > .content {
        width: 100%;
        
        .fields, .field-parent {
          display: flex;
          flex-flow: row wrap;
          gap: $m-sm;
        }
        .fields {
          position: relative;
          //@extend .w3;

          .field {
            display: flex;
            flex-direction: column;
            gap: $m-xxs;
            &:not(.text) { flex-basis: 50%; }
            
            input, textarea {
              padding: $m-xs;
              border: none;
              border-radius: 10px;
              background-color: $c-light-grey;
              @include box-shadow( 0px, 10px, 30px, 0px, rgba($c-copy, 0) );

              outline-offset: -1px;
              outline-color: $c-light-grey;
              &:focus-visible {
                outline-offset: -1px;
                outline-color: $c-dim;
              }
              &:hover, &:focus-visible {
                @include box-shadow( 0px, 15px, 30px, 0px, rgba($c-copy, 0.01) );
              }
              @include transition( 0.3s, ease-in-out );
            }
            textarea {
              min-height: $w4;
              resize: vertical;
              border-bottom-right-radius: 0px;
            }
            label {
              @extend h5;
              color: $c-grey;
            }
          }

          .field-parent {
            gap: $m-xs;
            flex-basis: 100%;

            margin-bottom: $m-sm;
            border: none;
            &:first-child { padding-top: 0; }
            &:last-child { padding-bottom: 0; }

            label {
              @extend h6;
            }
            legend {
              margin-bottom: $m-xxs; // positioning legend below fieldset-padding
              @extend h5;
            }
          }

          .disclaimer-required { @extend .copy.small; }

          .buttons {
            @extend .w2;
            display: flex;
            flex-basis: 100%;
            flex-direction: row;
            justify-content: flex-end;

            position: sticky;
            bottom: 0;
            z-index: 1000;

            padding: $m-xxs 0;
            background: $c-light;

            button[type='submit'] {
            }
          }
        }

      }
    }

    // Markdown Editor
    .editor-toolbar, .CodeMirror {
      border: none;
      @extend input;
    }
    .editor-toolbar {
      padding-bottom: $m-xxs/2 !important;
      padding-top: $m-xxs/2 !important;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    .CodeMirror {
      max-height: 500px;
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;

      .CodeMirror-selected {
        background-color: rgba($c-primary, 0.25);
      }
      .CodeMirror-code {
        // * { @extend .copy; }
        // .cm-header-1 { @extend h1; }
        // .cm-header-2 { @extend h2; }
        // .cm-header-3 { @extend h3; }
        // .cm-header-4 { @extend h4; }
        // .cm-header-3 {
        //   font-size 125%
        //   line-height 125%
        // }
        // .cm-header-4 {
        //   font-size 110%
        //   line-height 110%
        // }
        // .cm-comment {
        //   background rgba(0, 0, 0, .05)
        // }
        //   border-radius 2px
        // .cm-link {
        //   color #7f8c8d
        // }
        // .cm-url {
        //   color #aab2b3
        // }
        // .cm-strikethrough {
        //   text-decoration line-through
        // }
      }
    }

  }

  .diagonal {
    width: 15px; height: 35px;
    position: relative;
    &:after {
      position: absolute;
      left: calc(50% - 1px); top: 0;
      content: '';
      width: 2px; height: 35px;
      background-color: $c-dim;
      transform: rotate(20deg);
    }
  }
}