.mdBacker {
  min-height: 100vh;

  &.lectern {
    display: flex;
    flex-direction: column;

    padding: $m-md $m-lg;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $m-xs;

      h1#name {
        @extend .h5;
        @extend .bold;
        @extend .c-primary;
      }
      #module {
        @extend .h5;
        @extend .light;
        @extend .c-grey;
      }
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $m-sm;
      flex-grow: 1;

      margin-top: $m-md;

      nav#main {
        width: 170px;

        .accordion {
          .section {
            > .label {
              position: relative;
              @extend .h5;
              @extend .light; 
              @extend .c-secondary;
              margin-bottom: $m-xxs;

              &:before {
                position: absolute;
                left: -$m-xxs;
                content: '/';
                @extend .h5;
                @extend .light; 
                @extend .c-dim;
              }
            }

            > ul.content {
              
              li, ul { padding-top: $m-xxs/3; }
              li {
                &::marker {
                  content: '>';
                  color: $c-secondary-light;
                }
                padding-left: $m-xxs/2;
                
                button {
                  font-family: 'Sharp Grotesk';
                  font-size: 0.9em;
                  line-height: 1.2em;
                  background-color: transparent;
                  &.curr { @extend .bold; }
                }
              }
              ul { margin-left: $m-xxs; }

              * {
                list-style-type: none;
                list-style-position: outside;
              }
            }
          }
        }
      }

      > .content {
        width: 100%;
        overflow-x: hidden;
        
        .fields, fieldset {
          display: flex;
          flex-direction: column;
          gap: $m-sm;
        }
        .fields {
          .field {
            display: flex;
            flex-direction: column;
            gap: $m-xxs;
            
            input, textarea {
              padding: $m-xs;
              border: none;
              border-radius: 10px;
              background-color: $c-light-grey;
            }
            textarea {
              min-height: $w4;
              resize: vertical;
              border-bottom-right-radius: 0px;
            }
            label { @extend h5; }
          }

          .field-parent {
            gap: $m-xs;
            padding: $m-sm 0;
            border: none;
            &:first-child { padding-top: 0; }
            &:last-child { padding-bottom: 0; }

            label {
              @extend h6;
            }
            legend { @extend h5; }
          }
        }

      }
    }

  }

  .diagonal {
    width: 15px; height: 35px;
    position: relative;
    &:after {
      position: absolute;
      left: calc(50% - 1px); top: 0;
      content: '';
      width: 2px; height: 35px;
      background-color: $c-dim;
      transform: rotate(20deg);
    }
  }
}